@model PointOfSalesSystem.Models.ViewModels.PurchaseReceivingCreateVM

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>PurchaseReceivingCreateVM</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-horizontal">
            <div class="form-group ">
                <div class="row panel panel-heading">
                    @*...............OUTLET & Form Date,,,,,,,,,,,,,,,,,,,,*@



                    <div class="col-md-2 col-md-offset-1 ">
                        <div class="form-group">
                            @Html.Label("Item", htmlAttributes: new { @class = "control-label" })

                            @Html.DropDownList("Item", new SelectList(Model.Items, "Id", "Name"),"--Select--", new { @class = "form-control" })
                            @*@Html.ValidationMessageFor(model => model.ItemId, "", new { @class = "text-danger" })*@
                        </div>
                    </div>



                    <div class="col-md-2 col-md-offset-1">
                        <div class="form-group">
                            @Html.Label("Quantity", htmlAttributes: new { @class = "control-label" })

                            @Html.Editor("Quantity", new { htmlAttributes = new { @class = "form-control" } })
                            @*@Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })*@
                        </div>
                    </div>




                    <div class="col-md-2 col-md-offset-1">
                        <div class="form-group">
                            @Html.Label("PurchasePrice", htmlAttributes: new { @class = "control-label col-md-1" })
                            <
                            @Html.Editor("PurchasePrice", new { htmlAttributes = new { @class = "form-control" } })
                            @*@Html.ValidationMessageFor(model => model.PurchasePrice, "", new { @class = "text-danger" })*@
                        </div>
                    </div>
                    <div>
                        <div class="col-md-1 col-md-offset-1">
                            <br>
                            <input id="addItem" type="button" value="Add" class="btn btn-info">
                        </div>

                        <div class="col-md-1 ">
                            <br>
                            <input type="button" value="Delete" class="btn btn-danger">
                        </div>
                    </div>


                </div>

            </div>


        </div>




        <br>

    </div>




    @*..............Button................*@






    @*..............Table................*@

    <br>
    <div class="form-group-row panel panel-body">
        <div class="col-md-7 col-md-offset-1">
            <table class="table table-hover table-striped table-bordered table-responsive">
                <thead >
                    <tr>
                        <th>Sl</th>
                        <th>Item</th>
                        <th>Qty</th>
                        <th>Price</th>
                        <th>Live Total </th>
                        <th>Action </th>
                    </tr>


                </thead>
                <tbody id="purchaseDetailsTable"></tbody>

            </table>
        </div>

        <div class="col-md-3 col-md-offset-0 panel panel-default">
            <div class="form-group row">
                <div class="col-md-12">
                    @Html.LabelFor(model => model.BranchId, htmlAttributes: new { @class = "control-label" })

                    @Html.DropDownListFor(model => model.BranchId, new SelectList(Model.Branches, "Id", "Name"), "Select . . .", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.BranchId, "", new { @class = "text-danger" })

                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-12">
                    @Html.LabelFor(model => model.EmployeeInfoId, htmlAttributes: new { @class = "control-label" })

                    @Html.DropDownListFor(model => model.EmployeeInfoId, new SelectList(Model.EmployeeInfoes, "Id", "Name"), "Select . . .", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.EmployeeInfoId, "", new { @class = "text-danger" })

                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-12">
                    @Html.LabelFor(model => model.PurchaseDate, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.PurchaseDate, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PurchaseDate, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-12">
                    @Html.LabelFor(model => model.PartyId, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.PartyId, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PartyId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-12">
                    @Html.LabelFor(model => model.Remarks, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.Remarks, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Remarks, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="panel-footer">
                Purchase Summary
            </div>


        </div>

        <div class="form-group-row">

            <div class="col-md-3 col-md-offset-8">
                @*<h6 align="center"><b>Purchase Summary</b><br></h6>*@
                <table class="table table-hover table-striped table-bordered table-responsive">
                    <thead>
                        <tr>

                            <th>Total</th>
                            <th>Amount Due</th>
                        </tr>
                    </thead>
                    <tbody></tbody>

                </table>
            </div>
        </div>



    </div>

    <div class="form-group-row panel panel-footer">

        <div class="col-md-1 col-md-offset-8">
            <br>
            <input type="submit" value="Save" class="btn btn-default">
        </div>

        <div class="col-md-1 ">
            <br>
            <input type="submit" value="Cancel" class="btn btn-default">
        </div>

    </div>



}


@section scripts
    {


    <script src="~/Scripts/POS/PurchaseReceiving/Create.js"></script>
}

